[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = 海超人 (Mermaid Man)
	email = mermaid-man@bikini-bottom.local
[core]
	filemode = false
